* {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
  color: $white;
}

@mixin input-and-btn($h, $bc, $br) {
  background: $bc;
  border-radius: $br;
  border-style: unset;
  height: $h;
}

body {
  background-color: black;
  width: 100%;
}

%a-hover {
  text-decoration: none;
  &:hover {
    color: $white;
  }
}

.a-hover {
  @extend %a-hover;
}

.link {
  color: $light-grey;
  @extend %a-hover;
}

h1 {
  text-transform: uppercase;
  font-size: 60px;
  @media (max-width: 768px) {
    font-size: 30px;
  }
}

@mixin background-img($img) {
  background-image: url("../../images/#{$img}.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: 768px) {
    background-position: 75%;
  }
}

.active {
  color: $white;
}

.bg-guitar {
  @include background-img("banner");
}

.bg-Morten {
  @include background-img("Morten_Harket");
}

h2 {
  text-transform: uppercase;
  font-size: 38px;
  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.search {
  @include input-and-btn(26px, #3c3b3d, 50px);
}

@mixin font-size-banner($h1, $h3, $p) {
  h1 {
    font-size: $h1;
  }
  h3 {
    font-size: h2;
  }
  p {
    font-size: $p;
  }
}

.baner-input {
  @include input-and-btn(50px, $input-color, 3px);
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.access-btn {
  @include input-and-btn(50px, $green, 0px);
  text-transform: uppercase;
  font-weight: bold;
  &:hover {
    background: darken($green, 10%);
    cursor: pointer;
  }
}

.orange {
  background: $dark-orange !important;
  &:hover {
    background: darken($dark-orange, 10%);
  }
}

.purple {
  background-color: $purple !important;
  &:hover {
    background: darken($purple, 10%);
  }
}

@mixin grid($col-amount, $col-size, $rows-amount, $gapx, $gapy) {
  display: grid;
  grid-template-columns: repeat($col-amount, $col-size);
  grid-auto-rows: repeat($rows-amount, auto);
  grid-gap: $gapx $gapy;
}

.grid-2 {
  @include grid(2, 47%, 4, 25px, 5%);
}

.grid-4 {
  @include grid(4, 20%, 2, 50px, 5%);
}

@media (max-width: 1024px) {
  .w-lg-250 {
    width: 250px;
  }
  .grid-4 {
    display: grid;
    grid-template-columns: repeat(3, 30%);
  }
  .h-lg-230 {
    height: 230px;
  }
}

@media (max-width: 768px) {
  .flex-direction-md-column {
    flex-direction: column !important;
  }
  .w-80p-md {
    width: 80%;
  }
  .h-md-auto {
    height: auto;
  }
  .mr-md-0 {
    margin-right: 0px;
  }
  .w-100p-md {
    width: 100%;
  }
  .mb-0-md {
    margin-bottom: 0px !important;
  }
  .justify-md-space-between {
    justify-content: space-between;
  }
  .mb-25-md {
    margin-bottom: 25px;
  }
  .align-md-center {
    align-items: center;
  }
  .justify-content-md-center {
    justify-content: center;
  }
  .pt-70-md {
    padding-top: 70px;
  }
  .pb-44-md {
    padding-bottom: 44px;
  }
  .pt-md-20 {
    padding-top: 20px;
  }
  .fs-md-14 {
    font-size: 14px;
  }
  .fs-md-16 {
    font-size: 14px;
  }
  .pt-md-100 {
    padding-top: 100px;
  }
  .d-flex-md {
    display: flex !important;
  }
  .w-md-180 {
    width: 180px;
  }
  .align-md-start {
    align-items: flex-start;
  }
  .pl-6p-md {
    padding: 0% 6%;
  }
}

@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: flex-start !important;
  }
  .horizontal-menu {
    order: 3;
  }
  .search {
    margin-left: 0px !important;
    margin-bottom: 25px;
    order: 2;
    width: 87% !important;
  }
  .baner {
    @include font-size-banner(30px, 18px, 12px);
  }
  .baner-input,
  .access-btn {
    width: 80%;
    margin-right: 0px !important;
    margin-bottom: 30px;
  }
}

@media (max-width: 425px) {
  .w-xs-130 {
    width: 130px;
  }
  .fs-xs-12 {
    font-size: 12px;
  }
  .mb-xs-160 {
    margin-bottom: 160px;
  }
}
