@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
@import "./variables.scss";
@import "./atomic.scss";
@import "./subscribe.scss";
@import "./news_and_app.scss";
@import "./horizontal-menu.scss";
@import "./atomic2.scss";
@import "./catalog-btn.scss";
@import "./tracks.scss";
@import "./albums.scss";

* {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
  color: $white;
}

body {
  background-color: black;
  width: 100%;
}

%a-hover {
  text-decoration: none;
  &:hover {
    color: $white;
  }
}

.a-hover {
  @extend %a-hover;
}

.link {
  color: $light-grey;
  @extend %a-hover;
}


.main-title {
  text-transform: uppercase;
  font-size: 60px;
  @media (max-width: 768px) {
    font-size: 30px;
  }
}

@mixin background-img($img) {
  background-image: url("../../images/#{$img}.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: 768px) {
    background-position: 75%;
  }
}

@mixin input-and-btn($h, $bc, $br) {
  background: $bc;
  border-radius: $br;
  border-style: unset;
  height: $h;
}

.bg-guitar {
  @include background-img("banner");
}

.bg-Morten {
  @include background-img("Morten_Harket");
}

.h2-title {
    text-transform: uppercase;
    font-size: 38px;
    @media (max-width: 768px) {
        font-size: 20px;
    }
}

.search {
  @include input-and-btn(26px, #3c3b3d, 50px);
}


@mixin font-size-banner ($h1, $h3, $p) {
  h1 {
      font-size: $h1;
  }
  h3 {
      font-size: h2;
  }
  p {
      font-size: $p;
  } 
}



.baner-input {
  @include input-and-btn ( 50px, $input-color, 3px);
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.access-btn {
  @include input-and-btn( 50px, $green, 0px);
  text-transform: uppercase;
  font-weight: bold;
  &:hover {
      background: darken($green, 10%);
      cursor: pointer;
  }
}

@media (max-width: 768px) {
  //footer 
  .menu1,
  .menu2 {
    flex-direction: column;
  }
  .menu-item {
    margin-bottom: 20px;
  }
  .footer-h2 {
    margin-top: 40px;
  }
  //header 
  .header-container {
    flex-direction: column;
    align-items: flex-start !important;
    margin-bottom: 70px !important;
  }
  .horizontal-menu {
    order: 3;
    flex-direction: column;
  }
  .menu-item {
    margin-bottom: 10px;
  }
  .logo-box {
    margin-bottom: 25px;
  }
  .search {
    margin-left: 0px !important;
    margin-bottom: 25px;
    order: 2;
    width: 87%!important;
  }
  //baner
  .baner {
      @include font-size-banner(30px, 18px, 12px);
  }
  .input-container {
      align-items: center;
      flex-direction: column;
  }
  .baner-input, .access-btn {
      width: 80%;
      margin-right: 0px!important;
      margin-bottom: 30px;
  }
}

.orange {
  background-color: $dark-orange;
  &:hover {
    background: darken($dark-orange, 10%);
  }
}

.purple {
  background-color: $purple;
  &:hover {
    background: darken($purple, 10%);
  }
}

.minor-titles {
  text-transform: uppercase;
  font-size: 38px;
  @media (max-width: 768px) {
      font-size: 20px;
  }
}

@mixin grid($col-amount, $col-size, $rows-amount, $gapx, $gapy) {
  display: grid;
  grid-template-columns: repeat($col-amount, $col-size);
  grid-auto-rows: repeat($rows-amount, auto);
  grid-gap: $gapx $gapy;
}

.grid-2 {
  @include grid(2, 47%, 4, 25px, 5%);
}

.grid-4 {
  @include grid(4, 20%, 2, 50px, 5%);

}

@media (max-width: 1024px) {
  .grid-4 {
    display: grid;
    grid-template-columns: repeat(3, 30%);
  }
}

@media (max-width: 768px) {
  //catalog-baner
  .main-title {
    font-size: 30px;
  }
  .fans {
    font-size: 14px;
  }
  .catalog-btn {
    width: 90%;
    margin-bottom: 25px;
    margin-left: 0px;
  }
  .btn-container {
    flex-direction: column !important;
  }
  //tracks
  .tracks {
    display: flex;
    flex-direction: column;
    width: 95%;
  }
  //albums
  .albums,
  .similar-artists {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    grid-auto-rows: repeat(3, auto);
    grid-gap: 25px 6%;
    justify-content: center;
  }
  .album-name{ 
    margin-bottom: 0px;
  }
  .album-img-container,
  .album-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 15px!important;
  }
  .album,
  .date {
    width: 100%;
    align-items: flex-start;
  }
  .album-img,
  .artists-img {
    height: 180px;
  }
  .group {
    height: 20px;
    top: 85%;
  }
}

@media (max-width: 425px) {
  .album-img,
  .artists-img {
      height: 130px;
    }
  .group {
    height: 20px !important;
    top: 80% !important;
  }
  .album-name,
  .album-date {
    font-size: 12px !important;
  }
  .album{
    justify-content: flex-start !important;
    align-items: flex-start !important;
  }
  .album,
  .date {
    align-items: flex-start;
    width: 100%;
  }
  .similar-artists {
    justify-content: center;
  }
}

