.horizontal-menu {
  display: flex;
  list-style-type: none;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}
.menu-link {
  color: $light-grey;
  @extend %a-hover;
  &:hover {
    color: $white;
  }
}

@media (max-width: 768px) {
  .menu-item {
    margin-bottom: 20px;
  }
}
