.subscribe-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
  padding: 0 7% 60px 7%;
}

.subscribe-conditions {
  font-size: 11px;
  line-height: 13px;
  text-align: center;
}

.box-price {
  display: flex;
  align-items: flex-start;
  .price {
    font-size: 60px;
  }
  .rub {
    line-height: 0px;
    text-transform: uppercase;
    font-size: 30px;
    margin-left: 7%;
  }
}

.subscribe-btn {
  @include input-and-btn(70px, unset, 0px);
  border: 4px solid #ffffff;
  font-size: 24px;
  text-transform: uppercase;
  opacity: 1;
  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}

@mixin subscribe-img($img) {
  background: url($img);
  background-repeat: no-repeat;
  @media (max-width: 768px) {
    background-size: 100% !important;
  }
}

@media (max-width: 768px) {
  .subscribe-box {
    margin-right: 0px;
    margin-bottom: 50px;
  }
  .subscribe-btn {
    height: 55px;
  }
}


.one {
  @include subscribe-img("../../images/subscribe_1.png");
}
.two {
  @include subscribe-img("../../images/subscribe_2.png");
}
.three {
  @include subscribe-img("../../images/subscribe_3.png");
}
