//colors
$white: #FFFFFF;
$dark-grey: #808080;
$light-grey: #CACACA;
$pink: #FF4157;
$orange: #F89202;
$green: #34C176;
$purple: #5328A1;
$dark: #555555;
$mix-btn: #5328A1;
$favourites-btn: #95390C;
$input-color: rgba(255, 255, 255, 0.1);