@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
.d-flex {
  display: flex;
}

.align-self-start {
  align-self: flex-start;
}

.align-items-start {
  align-items: flex-start;
}

.uppercase {
  text-transform: uppercase;
}

.w-20p {
  width: 20%;
}

.w-80p {
  width: 80%;
}

.fw-bold {
  font-weight: bold;
}

.mr-2p {
  margin-right: 2%;
}

.fs-11 {
  font-size: 11px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.mr-8p {
  margin-right: 8%;
}

.no-wrap {
  flex-wrap: nowrap;
}

.h-17 {
  height: 20px;
}

.mr-10p {
  margin-right: 10%;
}

.w-99p {
  width: 99%;
}

.list-style-none {
  list-style-type: none;
}

.mt-38 {
  margin-top: 38px;
}

.w-90p {
  width: 90%;
}

.mr-4p {
  margin-right: 4%;
}

.ml-23p {
  margin-left: 23%;
}

.h-auto {
  height: auto;
}

.max-width-100p {
  max-width: 100%;
}

.d-block {
  display: block;
}

.h-min-content {
  height: min-content;
}

.clr-white {
  color: #FFFFFF;
}

.mt-50 {
  margin-top: 50px;
}

.mb-20 {
  margin-bottom: 20px;
}

.d-block {
  display: block;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-40 {
  margin-bottom: 40px;
}

.pb-240 {
  padding-bottom: 240px;
}

.pl-2p {
  padding: 0% 2%;
}

.mb-80 {
  margin-bottom: 80px;
}

.justify-content-center {
  justify-content: center;
}

.flex-direction-column {
  flex-direction: column;
}

.mr-3p {
  margin-right: 3%;
}

.w-100p {
  width: 100%;
}

.mr-6p {
  margin-right: 6%;
}

.mb-45 {
  margin-bottom: 45px;
}

.w-30p {
  width: 30%;
}

.mb-50 {
  margin-bottom: 50px;
}

.pb-76 {
  padding-bottom: 76px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-100 {
  margin-bottom: 100px;
}

.clr-light-grey {
  color: #CACACA;
}

.w-50p {
  width: 50%;
}

.pt-30 {
  padding-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.py-240 {
  padding: 240px 0px;
}

.fs-14 {
  font-size: 14px;
}

.fs-24 {
  font-size: 24px;
}

.fs-60 {
  font-size: 60px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mb-223 {
  margin-bottom: 223px;
}

.text-center {
  text-align: center;
}

.align-items-center {
  align-items: center;
}

.flex-direction-reverse-row {
  flex-direction: row-reverse;
}

.footer-bg {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.fs-22 {
  font-size: 22px;
}

.pt-50 {
  padding-top: 50px;
}

.w-47p {
  width: 47%;
}

.w-22p {
  width: 22%;
}

.fs-30 {
  font-size: 30px;
}

.pt-240 {
  padding-top: 240px;
}

.wrap {
  flex-wrap: wrap;
}

.clr-orange {
  color: #F89202;
}

.line-height-35 {
  line-height: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.ml-2p {
  margin-left: 2%;
}

.w-16p {
  width: 16%;
}

.w-32p {
  width: 32%;
}

.p-6p {
  padding: 0% 6%;
}

.w-68p {
  width: 68%;
}

.w-88 {
  width: 88px;
}

.h-60 {
  height: 60px;
}

.pb-50 {
  padding-bottom: 50px;
}

.justify-contentspace-beetwen {
  justify-content: space-between;
}

.position-relative {
  position: relative;
}

.py-2p {
  padding: 0 2% 0 2%;
}

.mt-50 {
  margin-top: 50px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.my-9p {
  margin: 0 9%;
}

.fs-20 {
  font-size: 20px;
}

.h-180 {
  height: 180px;
}

body, footer, hr, ul, h1 {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
  color: #FFFFFF;
}

@media (min-width: 1280px) {
  .max-width-1200 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

body {
  background-color: black;
  width: 100%;
}

ul {
  padding-inline-start: unset;
}

button, a {
  color: #FFFFFF;
}

.menu-link, .link, .a-hover {
  text-decoration: none;
}
.menu-link:hover, .link:hover, .a-hover:hover {
  color: #FFFFFF;
}

.link {
  color: #CACACA;
}

h1 {
  text-transform: uppercase;
  font-size: 60px;
}
@media (max-width: 768px) {
  h1 {
    font-size: 30px;
  }
}

.active {
  color: #FFFFFF !important;
}

.bg-guitar {
  background-image: url("../../images/banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  .bg-guitar {
    background-position: 75%;
  }
}

.bg-Morten {
  background-image: url("../../images/Morten_Harket.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  .bg-Morten {
    background-position: 75%;
  }
}

h2 {
  text-transform: uppercase;
  font-size: 38px;
}
@media (max-width: 768px) {
  h2 {
    font-size: 20px;
  }
}

h3 {
  font-size: 24px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  h3 {
    font-size: 16px;
  }
}

.search {
  background: #3c3b3d;
  border-radius: 50px;
  border-style: unset;
  height: 26px;
}

.baner-input {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  border-style: unset;
  height: 50px;
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.access-btn {
  background: #34C176;
  border-radius: 0px;
  border-style: unset;
  height: 50px;
  text-transform: uppercase;
  font-weight: bold;
}
.access-btn:hover {
  background: #29995d;
  cursor: pointer;
}

.orange {
  background: #95390C !important;
}
.orange:hover {
  background: #662708;
}

.purple {
  background-color: #5328A1 !important;
}
.purple:hover {
  background: #3e1e78;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 27%);
  grid-auto-rows: repeat(1, auto);
  grid-gap: 0PX 6%;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 47%);
  grid-auto-rows: repeat(4, auto);
  grid-gap: 25px 5%;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 20%);
  grid-auto-rows: repeat(2, auto);
  grid-gap: 50px 5%;
}

@media (max-width: 1024px) {
  .w-lg-250 {
    width: 250px;
  }

  .grid-4 {
    display: grid;
    grid-template-columns: repeat(3, 30%);
  }

  .h-lg-230 {
    height: 230px;
  }

  .mb-0-lg {
    margin-bottom: 0;
  }

  .w-lg-30p {
    width: 30%;
  }

  .align-items-lg-center {
    align-items: center;
  }
}
@media (max-width: 768px) {
  .flex-direction-md-column {
    flex-direction: column !important;
  }

  .w-80p-md {
    width: 80%;
  }

  .h-md-auto {
    height: auto;
  }

  .mr-md-0 {
    margin-right: 0px;
  }

  .w-100p-md {
    width: 100%;
  }

  .mb-0-md {
    margin-bottom: 0px !important;
  }

  .justify-md-space-between {
    justify-content: space-between;
  }

  .mb-25-md {
    margin-bottom: 25px;
  }

  .align-md-center {
    align-items: center;
  }

  .justify-content-md-center {
    justify-content: center;
  }

  .justify-content-md-start {
    justify-content: start !important;
  }

  .pt-70-md {
    padding-top: 70px;
  }

  .pb-44-md {
    padding-bottom: 44px;
  }

  .pt-md-20 {
    padding-top: 20px;
  }

  .fs-md-30 {
    font-size: 30px;
  }

  .fs-md-14 {
    font-size: 14px;
  }

  .fs-md-16 {
    font-size: 14px;
  }

  .fs-md-18 {
    font-size: 18px;
  }

  .pt-md-100 {
    padding-top: 100px;
  }

  .d-flex-md {
    display: flex !important;
  }

  .w-md-180 {
    width: 180px;
  }

  .align-md-start {
    align-items: flex-start;
  }

  .pl-6p-md {
    padding: 0% 6%;
  }

  .py-md-33 {
    padding: 0 16% 0 16%;
  }

  .pl-md-4p {
    padding-left: 4%;
  }
}
@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: flex-start !important;
  }

  .horizontal-menu {
    order: 3;
  }

  .search {
    margin-left: 0px !important;
    margin-bottom: 25px;
    order: 2;
    width: 87% !important;
  }

  .baner h1 {
    font-size: 30px;
  }
  .baner h3 {
    font-size: h2;
  }
  .baner p {
    font-size: 12px;
  }

  .baner-input,
.access-btn {
    width: 80%;
    margin-right: 0px !important;
    margin-bottom: 30px;
  }
}
@media (max-width: 425px) {
  .w-xs-130 {
    width: 130px;
  }

  .fs-xs-12 {
    font-size: 12px;
  }

  .mb-xs-160 {
    margin-bottom: 160px;
  }

  .py-xs-0 {
    padding: 0%;
  }
}
.subscribe-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
  padding: 0 7% 60px 7%;
}

.subscribe-conditions {
  font-size: 11px;
  line-height: 13px;
  text-align: center;
}

.box-price {
  display: flex;
  align-items: flex-start;
}
.box-price .price {
  font-size: 60px;
}
.box-price .rub {
  line-height: 0px;
  text-transform: uppercase;
  font-size: 30px;
  margin-left: 7%;
}

.subscribe-btn {
  background: unset;
  border-radius: 0px;
  border-style: unset;
  height: 70px;
  border: 4px solid #ffffff;
  font-size: 24px;
  text-transform: uppercase;
  opacity: 1;
}
.subscribe-btn:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media (max-width: 768px) {
  .subscribe-box {
    margin-right: 0px;
    margin-bottom: 50px;
  }

  .subscribe-btn {
    height: 55px;
  }
}
.one {
  background: url("../../images/subscribe_1.png");
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .one {
    background-size: 100% !important;
  }
}

.two {
  background: url("../../images/subscribe_2.png");
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .two {
    background-size: 100% !important;
  }
}

.three {
  background: url("../../images/subscribe_3.png");
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .three {
    background-size: 100% !important;
  }
}

.album-news {
  display: flex;
  flex-direction: column;
}
.album-news .album-data {
  color: #CACACA;
  font-size: 14px;
  line-height: 35px;
}

.main-album-date {
  align-items: center;
  display: flex;
}
.main-album-date .music-box {
  text-transform: uppercase;
  color: #F89202;
  font-size: 12px;
}

.album-btn {
  background: unset;
  border-radius: 5px;
  border-style: unset;
  height: 50px;
  border: 1px solid #e9e9e9;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #555555;
  opacity: 1;
}
.album-btn:hover {
  cursor: pointer;
  opacity: 0.6;
}

.pink-btn {
  background: #FF4157;
  border-radius: 50px;
  border-style: unset;
  height: 56px;
  border-color: #FF4157;
  color: #FFFFFF;
}
.pink-btn:hover {
  cursor: pointer;
  background-color: #5328A1;
}

@media (max-width: 768px) {
  h2 {
    font-size: 20px;
    margin-top: 45px;
  }

  .artist {
    margin-right: 0px;
    margin-bottom: 20px;
    width: 100%;
  }

  .mob-img {
    order: 1;
  }

  .mob-text-container {
    width: 100% !important;
    order: 2;
  }
}
@media (max-width: 425px) {
  .one,
.two,
.three {
    background-size: auto !important;
  }
}
.horizontal-menu {
  display: flex;
  list-style-type: none;
}
@media (max-width: 768px) {
  .horizontal-menu {
    flex-direction: column;
  }
}

.menu-link {
  color: #CACACA;
}
.menu-link:hover {
  color: #FFFFFF;
}

@media (max-width: 768px) {
  .menu-item {
    margin-bottom: 20px;
  }
}
.catalog-btn {
  background: initial;
  border-radius: 0px;
  border-style: unset;
  height: 50px;
  display: flex;
  text-transform: uppercase;
  align-items: center;
  text-decoration: none;
  border-style: unset;
}
@media (max-width: 768px) {
  .catalog-btn {
    width: 100%;
    margin-bottom: 25px;
    margin-left: 0px;
  }
}

.track {
  display: flex;
  align-items: center;
}

.track-container {
  display: flex;
  justify-content: space-between;
}

.track-info {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.track-name {
  font-size: 14px;
  margin-bottom: 5px;
}

.artist-name {
  font-size: 12px;
  color: #CACACA;
}

.time {
  font-size: 14px;
  color: #CACACA;
}

.group {
  position: absolute;
  height: 25px;
  top: 85%;
  left: 4%;
}

@media (max-width: 768px) {
  .albums,
.similar-artists {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    grid-auto-rows: repeat(3, auto);
    grid-gap: 25px 6%;
    justify-content: center;
  }

  .group {
    height: 20px;
    top: 80% !important;
    left: 15% !important;
  }
}
@media (max-width: 425px) {
  .group {
    height: 20px !important;
    top: 80% !important;
  }
}

/*# sourceMappingURL=style.css.map */
