@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
.box-in-baner h3, .box-in-baner h1, .box .artist-box .album button, .box .artist-box .album div p, .box h2, .subscribe h2, .subscribe div .subscribe-box button, .subscribe div .subscribe-box h2, .box-in-baner button, header ul, .logo-box {
  text-transform: uppercase;
}

.box .mob-app .mob-app-text, .box .artist-box .album div, .box .artist-box .album, .box .artist-box, .subscribe div .subscribe-box .box-price, .subscribe div .subscribe-box, .footer .horizontal-info, .footer .info-box, .footer, header input, header ul, .logo-box {
  display: flex;
}

.footer .horizontal-info a, .footer .info-box ul a, .footer .info-box img, header ul a {
  text-decoration: none;
}
.footer .horizontal-info a:hover, .footer .info-box ul a:hover, .footer .info-box img:hover, header ul a:hover {
  color: #FFFFFF;
}

.logo-box {
  color: #FFFFFF;
  font-weight: bold;
  align-items: center;
}
.logo-box img {
  height: 17px;
}

header ul {
  color: #808080;
  font-weight: bold;
  font-size: 11px;
  list-style-type: none;
}
header ul a {
  margin-right: 36px;
  font-weight: bold;
}
@media (max-width: 768px) {
  header ul {
    flex-direction: column;
  }
}

header input {
  width: 278px;
  background: #3C3B3D;
  border-radius: 50px;
}

.footer {
  background: linear-gradient(89.75deg, #5328A1 32.83%, #95390C 81.56%);
  height: 486px;
  color: #CACACA;
  flex-direction: column;
  align-items: center;
}
.footer .info-box {
  flex-direction: row;
  margin-top: 80px;
}
.footer .info-box h2 {
  margin-bottom: 10px;
}
.footer .info-box ul {
  list-style-type: none;
}
.footer .info-box ul li {
  margin-top: 20px;
}
.footer .info-box ul a, .footer .info-box img {
  color: #CACACA;
  margin-top: 20px;
}
.footer .info-box div {
  margin-right: 100px;
}
.footer .info-box div img {
  margin-right: 21px;
  height: 17px;
}
.footer hr {
  margin-top: 100px;
  width: 100%;
}
.footer .horizontal-info {
  margin-top: 50px;
  flex-direction: row;
  list-style-type: none;
  align-items: flex-start;
  width: 1163px;
}
.footer .horizontal-info a {
  color: #CACACA;
  margin-right: 40px;
}

.box-in-baner input {
  width: 270px;
  height: 50px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  border-radius: 3px;
  color: #FFFFFF;
}

.box-in-baner button {
  width: 570px;
  height: 50px;
  background: #34C176;
  color: #FFFFFF;
  font-weight: bold;
}

.subscribe div .subscribe-box {
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 580px;
}
.subscribe div .subscribe-box h2 {
  color: #FFFFFF;
  font-size: 24px;
  margin-bottom: 223px;
  margin-top: 25px;
}
.subscribe div .subscribe-box .box-price {
  color: #FFFFFF;
  align-items: flex-start;
  margin-bottom: 40px;
}
.subscribe div .subscribe-box .box-price .price {
  font-size: 60px;
}
.subscribe div .subscribe-box .box-price .rub {
  font-size: 30px;
}
.subscribe div .subscribe-box button {
  width: 80%;
  height: 70px;
  border: 4px solid #FFFFFF;
  box-sizing: border-box;
  background-color: unset;
  font-size: 24px;
  color: #FFFFFF;
  margin-bottom: 36px;
}
.subscribe div .subscribe-box p {
  width: 80%;
  margin-bottom: 60px;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  color: #FFFFFF;
}

.box h2, .subscribe h2 {
  color: #FFFFFF;
  font-size: 38px;
  margin-bottom: 50px;
}

.box .artist-box .album {
  width: 566px;
  flex-direction: column;
}
.box .artist-box .album h3 {
  font-size: 30px;
  margin-bottom: 25px;
  color: #FFFFFF;
}
.box .artist-box .album p {
  color: #CACACA;
  font-size: 14px;
  line-height: 35px;
}
.box .artist-box .album div {
  align-items: center;
  margin-bottom: 45px;
}
.box .artist-box .album div p {
  color: #F89202;
  font-size: 12px;
}
.box .artist-box .album div p span {
  color: #555555;
}
.box .artist-box .album button {
  width: 129.14px;
  height: 50px;
  border: 1px solid #E9E9E9;
  background-color: unset;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #555555;
}

.box .mob-app button {
  width: 173.76px;
  height: 50px;
  background: #FF4157;
  border-radius: 50px;
}

.box .mob-app {
  display: flex;
}
.box .mob-app p {
  color: #808080;
  font-size: 16px;
  margin-bottom: 25px;
}
.box .mob-app .mob-app-text {
  width: 566px;
  flex-direction: column;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 20px;
  padding: 0px;
}

body {
  background-color: black;
}

.d-flex {
  display: flex;
}

.fd-row {
  flex-direction: row;
}
@media (max-width: 1024px) {
  .fd-row {
    flex-direction: column;
  }
}

.mr-100 {
  margin-right: 100px;
}
@media (max-width: 1024px) {
  .mr-100 {
    margin-right: 0px;
  }
}

.ml-300 {
  margin-left: 300px;
}
@media (max-width: 1024px) {
  .ml-300 {
    margin-left: 100px;
  }
}
@media (max-width: 768px) {
  .ml-300 {
    margin-left: 0px;
  }
}

.h-835 {
  height: 835px;
}

.bc-black {
  background-color: black;
}

.jc-center {
  justify-content: center;
}

.fd-column {
  flex-direction: column;
}

.mr-30 {
  margin-right: 30px;
}

.mr-73 {
  margin-right: 73px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mt-51 {
  margin-top: 51px;
}

.w-566 {
  width: 566px;
}

.ai-center {
  align-items: center;
}

.fd-reverse-row {
  flex-direction: row-reverse;
}

.mr-68 {
  margin-right: 68px;
}

.main-container {
  background-image: url(../../images/banner.png);
  height: 877px;
}

.box-in-baner {
  width: 1200px;
  color: #FFFFFF;
  font-weight: bold;
  flex-direction: column;
}
.box-in-baner h1 {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  text-align: center;
}
.box-in-baner h3 {
  font-size: 30px;
  text-align: center;
}
.box-in-baner p {
  font-size: 18px;
  margin-top: 45px;
  text-align: center;
}
.box-in-baner input {
  margin-top: 40px;
}
.box-in-baner button {
  margin-top: 30px;
}

.subscribe {
  background-color: black;
}
.subscribe div .one {
  background: url("../../images/subscribe_1.png");
}
.subscribe div .two {
  background: url("../../images/subscribe_2.png");
}
.subscribe div .three {
  background: url("../../images/subscribe_3.png");
}
.subscribe p {
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  width: 1200px;
}

/*# sourceMappingURL=styles.css.map */
